/* Start variables */
:root {
  --main-color: #412e20;
  --second-color: #b7715f;
  --text-color: #4b382a;
  --bg-color: #fffcf7;
  --main-transition: 0.3s;
}

/* End variables */
/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: none;
  margin: none;
}

body {
  height: 5000px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-left: 2px solid black;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 0 200px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  color: var(--main-color);
  padding: 0 0 100px;
  text-align: center;
  font-size: 1.8em;
  letter-spacing: 2px;
  position: relative;
}

.main-heading::before,
.main-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  background-color: var(--main-color);
}

.main-heading::before {
  height: 5px;
  width: 150px;
  transform: translate(-50%, -200%);
  -webkit-transform: translate(-50%, -200%);
  -moz-transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -200%);
  -o-transform: translate(-50%, -200%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.main-heading::after {
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  transform: translate(-50%, -6%) rotate(45deg);
  -webkit-transform: translate(-50%, -6%) rotate(45deg);
  -moz-transform: translate(-50%, -6%) rotate(45deg);
  -ms-transform: translate(-50%, -6%) rotate(45deg);
  -o-transform: translate(-50%, -6%) rotate(45deg);
  border: 4px solid white;
  outline: 2px solid;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
    padding: 0 150px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

header .container {
  background-color: var(--main-color);
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 10px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 20px 0px #bc9788;
}

@media (max-width: 767px) {
  header .container {
    padding: 10px 20px;
  }
}

@media (min-width: 768px) {
  header .container {
    padding: 10px 150px;
  }
}

header .logo {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  color: var(--bg-color);
  font-size: 1.8em;
  font-weight: 700;
}

@media (max-width: 650px) {
  header .logo {
    font-size: 1.5em;
  }
}

header .links li a {
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 30px;
  position: relative;
  color: var(--bg-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

@media (max-width: 650px) {
  header .links {
    padding-left: 20px;
  }
  header .links li a {
    padding: 5px;
    margin-left: 10px;
    font-size: 0.8em;
  }
}

header .links li a:hover {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  color: var(--main-color);
}

section.main .container {
  display: flex;
  flex-direction: row-reverse;
  background: url(../Images/landing.jpg) no-repeat;
  position: relative;
  width: 100%;
  align-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  section.main .container {
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
  }
}

.main .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

section.main .container .text {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main .container > div {
  position: relative;
}

.main h2 {
  font-size: 1.4em;
  font-weight: bold;
  font-weight: 600;
  color: var(--bg-color);
}

.main h2 span {
  display: block;
  color: wheat;
  font-size: 3em;
  font-weight: 600;
  margin: 20px 0 15px;
  letter-spacing: -1px;
  transform: translateX(-4px);
  -webkit-transform: translateX(-4px);
  -moz-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  -o-transform: translateX(-4px);
}

@media (max-width: 767px) {
  .main h2 span {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.main h3 {
  color: var(--bg-color);
  font-weight: 600;
  font-size: 1.5em;
}

.main .container > div a.main-btn {
  position: relative;
  display: block;
  width: fit-content;
  font-weight: 600;
  padding: 15px;
  color: var(--bg-color);
  background: linear-gradient(
    to right,
    var(--bg-color) 50%,
    var(--main-color) 50%
  );
  background-size: 200% 99%;
  background-position: right bottom;
  margin: 15px 0;
  border: 2px solid;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

@media (max-width: 767px) {
  .main .container > div a.main-btn {
    margin: 15px auto;
  }
}

.main .container > div a.main-btn:hover {
  background-position: left bottom;
  color: var(--main-color);
  border-color: var(--bg-color);
}

.main .social-icons {
  display: flex;
  justify-content: left;
  margin-top: 5px;
  transform: translateX(-7px);
  -webkit-transform: translateX(-7px);
  -moz-transform: translateX(-7px);
  -ms-transform: translateX(-7px);
  -o-transform: translateX(-7px);
}

@media (max-width: 767px) {
  .main .social-icons {
    justify-content: center;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
  }
}

.main .social-icons > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background: linear-gradient(to right, var(--main-color) 50%, wheat 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 2px solid;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.main .social-icons > div:hover {
  background-position: left bottom;
  border-color: wheat;
}

.main .social-icons > div a i {
  color: var(--main-color);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.main .social-icons > div:hover a i {
  color: wheat;
}

.main .image {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: right;
}

.main img {
  width: 650px;
}

@media (max-width: 767px) {
  .main .image {
    display: none;
  }
}

@media (min-width: 768px) {
  .main .image {
    right: -150px;
  }
}

.services {
  padding: 70px 0;
}

@media (max-width: 767px) {
  .services {
    padding: 50px 0;
  }
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 0 20px;
  gap: 40px;
}

@media (max-width: 767px) {
  .services .container {
    grid-template-columns: minmax(150px, 1fr);
    gap: 20px;
    padding: 0 20px;
  }
}

.services .container .service {
  overflow: hidden;
  background-color: white;
  box-shadow: 0 2px 10px 0px #645a57;
  text-align: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.services .container .service:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.services .container .service .image {
  position: relative;
  overflow: hidden;
}

.services .container .service .image::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 250%;
  height: 100px;
  left: -50%;
  bottom: -50px;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transition: var(--main-transition) ease;
  -webkit-transition: var(--main-transition) ease;
  -moz-transition: var(--main-transition) ease;
  -ms-transition: var(--main-transition) ease;
  -o-transition: var(--main-transition) ease;
}

.services .container .service:hover .image::after {
  bottom: -50px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.services .container .service .image img {
  max-height: 100%;
  width: 100%;
}

.services .container .service h3 {
  position: relative;
  padding: 15px 0;
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.7em;
}

.services .container .service h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 6px;
  font-size: 20px;
  background-color: var(--main-color);
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 100%);
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.services .container .service h3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  left: 50%;
  bottom: -14px;
  outline: 4px solid white;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services .container .service p {
  padding: 25px;
  margin: 30px 0;
  font-size: 1em;
  color: var(--text-color);
  line-height: 2;
  font-weight: 500;
}
